
:root {
    /* Colors */
    --Border-inputs: rgba(35, 35, 36, 0.302);
    --Boder-text-input: rgba(0, 0, 0, 0.702);
    --Border-general: rgba(36, 36, 36, 0.502);
    --Color-button: rgb(36, 82, 122);
    --Color-search: rgb(92, 171, 188);
}

i {
    color: black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

/* header */

header {
    padding: 14px 15px 0;
}

.search-bar {
    border: 1px solid var(--Border-general);
    height: 2rem;
}

.search-input {
    outline: none;
}

.search-button {
    width: 12%;
    background-color: var(--Color-search);
    border-radius: 0 1rem 1rem 0;
    border: none;
}

.logo img{
    width: 195.75px;
    height: 62.58px;
}

#profile-button, #shop-button {
    border: none;
    background: transparent;
}

/* nav mobile */

.header-top {
    width: 27.41px;
}

.header-options {
    background: #fff;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 127.4%;
    transition: all 0.5s;
}

.header-options ul li {
    height: 3rem;
    padding: 0.6em 0 0 1rem;
}

.header-options ul li:hover {
    cursor: pointer;
}

.categories, .categories2 {
    gap: 0.5rem;
}

/* active */
.active {
    display: block !important;
}

.active2 {
    height: 18rem !important;
}

.active2-2 {
    height: 8rem !important;
}

.arrow-active {
    transform: rotateX(180deg);
}

/* fin active */

.categories-icon {
    padding-right: 0.5rem;
}

.categories-sub, .categories-sub2 {
    display: none;
}

.categories-sub li:hover, .categories-sub2 li:hover {
    text-decoration: underline;
}

.categories-sub li {
    display: flex;
    align-items: center;
}

.menu-button-closed {
    left: 90%;
    position: relative;
    padding: 1rem 0.5rem 1rem 0;
    font-size: 1.5rem;
}

.burger {
    height: 91.5%;
}

.burger li a {
    display: flex;
    gap: 0.6rem;
}

a:hover {
    color: black;
}

.burger li a:hover {
    color: black;
    text-decoration: underline;
}

/* Footer */

footer {
    background-color: var(--Color-button);
    padding: 0 0.5em;
}

.title-footer {
    align-items: center;
}

.text-footer {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.footer-icon-MyComputer {
    width: 7.5rem;
    height: 2.5rem;
}

.redes-footer a {
    opacity: 1;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}