/* body, dynamic */

.text {
    width: 88%;
    outline: none;
    border: none;
}

.products-list {
    justify-items: center;
    gap: 2rem;
}

.product {
    width: 8.8125rem;
    height: 13.5rem;
    border: 1px solid black;
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.imageProduct {
    width: 5.6875rem;
    height: 5rem;
    border-bottom: 1px solid;
}

.titleProduct {
    font-size: 13px;
    margin-bottom: 0 !important;
    width: 5.6875rem;
    text-align: left;
}

.priceProduct {
    width: 5.6875rem;
    border: none;
    background-color: var(--Color-button);
    border-radius: 0.4rem;
    color: white;
}

.priceProduct:hover {
    opacity: 0.8;
    cursor: pointer;
}

.grid1 {
    grid-area: 1/1;
}

.grid2 {
    grid-area: 1/2;
}
