
:root {
    /* Colors */
    --Border-inputs: rgba(35, 35, 36, 0.302);
    --Boder-text-input: rgba(0, 0, 0, 0.702);
    --Border-general: rgba(36, 36, 36, 0.502);
    --Color-button: rgb(36, 82, 122);
    --Color-search: rgb(92, 171, 188);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
    padding: 14px 15px 0;
}

.search-bar {
    border: 1px solid var(--Border-general);
}

.search {
    width: 12%;
    background-color: var(--Color-search);
    border-radius: 0 1rem 1rem 0;
    border: none;
}

.text {
    width: 88%;
    outline: none;
    border: none;
}

.allProducts {
    justify-items: center;
    gap: 2rem;
}

.product {
    width: 8.8125rem;
    height: 13.5rem;
    border: 1px solid black;
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.imageProduct {
    width: 5.6875rem;
    height: 5rem;
    border-bottom: 1px solid;
}

.titleProduct {
    font-size: 13px;
    margin-bottom: 0 !important;
    width: 5.6875rem;
    text-align: left;
}

.priceProduct {
    width: 5.6875rem;
    border: none;
    background-color: var(--Color-button);
    border-radius: 0.4rem;
    color: white;
}

.priceProduct:hover {
    opacity: 0.8;
    cursor: pointer;
}

.grid1 {
    grid-area: 1/1;
}

.grid2 {
    grid-area: 1/2;
}